/* 변수를 사용하여 원하는 요소들에 관한 색상을 일관적으로 관리할 수 있음 */
/* :root : 사용자 속성을 사용할 수 있는 범위를 의미(html 문서 어디에서나 접근 가능) */
:root {
  --purple : #6644B8;
  --darkpurple : #37274B;
  --background-purple : #120522;
  --border: rgba(255,255,255,0.5);
}